{% extends "base.html" %}

{% block content %}
<div class="container pt-5">
		<div class="row">
			<div class="col-md-10">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{job.title}}</h5>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><strong>Salary:</strong> {{job.salary}}</li>
						<li class="list-group-item"><strong>Company:</strong>{{job.company}}</li>
						<li class="list-group-item"><strong>Description:</strong>{{job.description}} </li>
						<li class="list-group-item"><strong>Email:</strong> {{job.email}}</li>
						<li class="list-group-item"><strong>Category:</strong> {{job.category.name}}</li>
					</ul>
                {% if session['is_manager']%}
                    <div class="card-footer">
                        <a href="/job/delete/{{job.id}}" class="btn btn-danger float-right">Delete</a>
                        <a href="/job/edit/{{job.id}}" class="btn btn-primary float-right" style="margin-right:1em">Edit</a>
                    </div>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}