{% extends "base.html" %} {% block content %}

<div>
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-3">
      <div class="input-group mb-3">
  <input type="text" class="form-control" id="search-field" placeholder="Search jobs">
  <div class="input-group-append">
    <a href="#" class="btn btn-primary" role="button" id="search-button">Search</a>
  </div>
</div>
        <h5>Filter By Category</h5>
        <ul class="list-group" id="category-filter">
          <a
            href="/"
            class="list-group-item list-group-item-action active"
            data-category="all"
            >All Categories</a
          >
          <a
            href="/jobs/1"
            class="list-group-item list-group-item-action"
            data-category="it"
            >IT</a
          >
          <a
            href="/jobs/2"
            class="list-group-item list-group-item-action"
            data-category="finance"
            >Finance</a
          >
          <a
            href="/jobs/3"
            class="list-group-item list-group-item-action"
            data-category="banking"
            >Banking</a
          >
        </ul>
      </div>
      <div class="col-md-9">
        <div id="accordion">
          {% for job in joblist %}
          <div class="card">
            <div class="card-header">
              <a class="card-link" href="/job/{{job.id}}"> {{job.title}} </a>
            </div>
            <div id="{{job.id}}" class="collapse show" data-parent="#accordion">
              <div class="card-body">{{job.description}}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

<script>
  var path = window.location.pathname;
  if(path && path !== '/'){
    if(path.split('/').length > 0){
      var category = path.split('/')[2];
        // Get all the anchor tags in the category filter
          var links = document.querySelectorAll('#category-filter a');
          // Loop through the links and get the data-category attribute value
          for (var i = 0; i < links.length; i++) {
            var link = links[i];
            if(link.classList.contains('active')){
              link.classList.remove('active')
            }
            if(category === '1' && link.getAttribute('data-category') === 'it'){
              link.classList.add('active');
              break;
            }else if(category === '2' && link.getAttribute('data-category') === 'finance'){
              link.classList.add('active');
              break;
            }else if(category === '3' && link.getAttribute('data-category') === 'banking'){
              link.classList.add('active');
              break;
            }
          }
    }

  }else{
    var links = document.querySelectorAll('#category-filter a');
    links[0].classList.add('active');
  }

  const searchField = document.getElementById("search-field");
  const searchButton = document.getElementById("search-button");

  searchButton.addEventListener("click", function() {
    const searchQuery = searchField.value;
    const searchUrl = '/jobs/'+searchQuery;
    searchButton.href = searchUrl;
  });


</script>

  {% endblock content %}
</div>
